* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    color: #333;
}

header {
    background-color: #4CAF50; /* Verde claro */
    padding: 1rem;
    text-align: center;
    color: white;
}

header h1 {
    font-size: 2rem;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
}

.produtos {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 2rem;
    flex-wrap: wrap;
}

.produto {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 250px;
    transition: transform 0.3s ease;
}

.produto:hover {
    transform: scale(1.05);
}

.produto img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.produto h2 {
    font-size: 1.5rem;
    color: #4CAF50;
    margin: 15px 0;
}

.produto p {
    font-size: 1.2rem;
    color: #555;
}

button {
    background-color: #ffb74d; /* Amarelo */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff9800;
}

footer {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}
